<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello, 世界</title>
</head>
<body>

Without date formatting: {{.}}
With date formatting: {{fdateMDY .}}
With date formatting using pipeline: {{. | fdateMDY}}

</body>
</html>